custom-header{
    .logo-only{
        width: 40px !important;
    }
    .searchbar-input{
        background: color($colors,white-text) !important;
    }
    .searchbar-ios-cancel{
        .button-inner{
            color: color($colors,white-text) !important;
        }
    }
    .title{
        font-size: 2rem;
        font-weight: 500;
    }
}