<ion-card text-center class="user-card">
    <ion-img src="/assets/imgs/mask.jpg"></ion-img>

    <ion-card-header no-padding padding-vertical>
        <h2>{{data.title}}</h2>
        <h3>{{data.place}}</h3>
    </ion-card-header>
    <ion-card-content no-padding>
        <button ion-button round>{{data.price}}</button>
    </ion-card-content>
    <!-- <ion-row>
        <ion-col>
            <button ion-button round class="service-btn" color="light-pruple-text">
                
            </button>
        </ion-col>
    </ion-row> -->
</ion-card>